<div id="{{id}}" class="accordion-group {{#classes}}{{.}} {{/classes}}">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#{{id}}-Inner">{{title}}</a>
    </div>
    <div id="{{id}}-Inner" class="accordion-body collapse">
        <div class="accordion-inner children container-fluid">
            {{{children}}}
        </div>
    </div>
</div>