<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#GameAccordion" href="#{{id}}">{{title}}</a>
    </div>
    <div id="{{id}}" class="accordion-body collapse">
        <div class="accordion-inner">
            {{{children}}}
        </div>
    </div>
</div>