<div class="form-horizontal control-group {{#classes}}{{.}} {{/classes}}">
    <label class="control-label" for="{{id}}">{{title}}</label>
    <div class="controls">
        <input type="text" id="{{id}}" placeholder="null" value="{{state}}">
    </div>
</div>