<!doctype html>
<head>
    <title>Prosplosion Adventure Creator</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/static/admin.css" rel="stylesheet">
    <script src="/engine/lib/kinetic-vcurrent.js"></script>
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://localhost:9810/compile?id=main"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script>
        new PAC({gameURL: '/games/{{game}}/game.json', resourceURL: '/games/{{game}}/resources'});
    </script>
</head>
<body>
	<div id="AdminButton">
		<button class="btn" id="ShowAdmin">Show Admin Panel</button>
	</div>
	<div id="AdminPanel">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<button class="btn" id="HideAdmin">Hide Admin Panel</button>
					<div class="accordion" id="accordion2">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> Current Room </a>
							</div>
							<div id="collapseOne" class="accordion-body collapse in">
								<div class="accordion-inner">
									<button id="showWalkable" data-toggle="true" class="btn wide">Show Walkable Path</button> <br/>
									<button id="showPathing" data-toggle="true" class="btn wide">Show Pathfinding Data</button> <br/>
									<button id="rebuildPathing" class="btn wide">Rebuild Pathfinding Data</button> <br/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gameBorder" id="GameBorder">
    	<div class="gamecontainer" id="GameContainer"></div>
    </div>
    <script>
    	// Skepto.width = 1024;
    	// Skepto.height = 768;
    	// Skepto.container = "GameContainer";
    	// window.s = new PAE.Game(Skepto);
    	// $('canvas').bind('contextmenu', function(e){
		    // return false;
		// }); 
    </script>
</body>