<!DOCTYPE html>
<head>
    <title>Prosplosion Adventure Creator</title>
    <script src="/engine/lib/kinetic-vcurrent.js"></script>
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://localhost:9810/compile?id=main"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script>
        new PAC.Creator({gameURL: '/games/{{game}}/game.json', resourceURL: '/games/{{game}}/resources'});
    </script>
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/admin.css" rel="stylesheet">
</head>
<body>
    {{^fullscreen}}
    	<div id="AdminButton">
    		<button class="btn" id="ShowAdmin">Show Admin Panel</button>
    	</div>
    	<div id="AdminPanel">
    		<div class="container-fluid">
    			<div class="row-fluid">
    				<div class="span12">
    					<button class="btn wide" id="HideAdmin">Hide Admin Panel</button>
    					<button class="btn wide btn-info" id="SaveGame">SAVE GAME</button>
    					<div class="accordion" id="GameAccordion">
    						
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="gameBorder" id="GameBorder">
        	<div class="gamecontainer" id="GameContainer"></div>
        </div>
    {{/fullscreen}}
    {{#fullscreen}}
        <div class="gamecontainer fullscreen" id="GameContainer"></div>
    {{/fullscreen}}
    <script>
    	// Skepto.width = 1024;
    	// Skepto.height = 768;
    	// Skepto.container = "GameContainer";
    	// window.s = new PAE.Game(Skepto);
    	// $('canvas').bind('contextmenu', function(e){
		    // return false;
		// }); 
    </script>
</body>